body{
  margin:0;
}

#app {
  overflow: hidden;
}

header {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  background-color: rgb(220, 220, 220);
  z-index: 1;

  &.search-hide {
    height: 8rem;
  }
}

header>img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.5rem;
  /*margin:1rem auto;*/
  border: 1px solid #ccc;
}

header>.search {
  margin: 2rem auto;
  width: 15rem;
  height: 2rem;
  position: relative;
  background-color: rgba(240, 240, 240, 0.8);
}

header.search-hide .search {
  display: none;
}

header>.search input {
  border: 0px;
  background: transparent;
  line-height: 2rem;
  position: absolute;
  width: 8rem;
  left: 3rem;
  font-size: 1rem;
}

header>.search .iconfont {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}

.content {
  padding-top: 8rem;
  margin-bottom:4rem;
}

.shop-header {
  text-align: center;
}

.recommend {
  height: 12.5rem;
  overflow: hidden;
}

.recommend h4 {
  margin-left: 1rem;
}

.recommend ul {
  white-space: nowrap;
  font-size: 0;
  overflow-y: hidden;
  height: 9.5rem;
  box-sizing: border-box;

  li {
    display: inline-block;
    margin-right: 1rem;
    border: 2px solid #ccc;
    width: 7rem;
    height: 8rem;

    img {
      width: 7rem;
    }

    .iconfont-add {
      color: rgb(64, 179, 233);
      display: block;
      float: right;
    }
  }
}

.menu.looking {
  nav {
    position: fixed;
    top: 6rem;
  }
}

.menu>nav {
  position: absolute;
  width: 4rem;
  padding: 0 0.5rem;
  background-color: #eee;
  height:100%;
  a {
    display: block;
    text-decoration: none;
    color: #999;
    background-color: #eee;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #999;
  }

  a:last-child {
    border-bottom: 0;
  }
}

.menu>ul {
  margin-left: 5rem;
  background-color: white;
  z-index: 0;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  height: 4rem;
  width: 100%;

  .count {
    flex: 4;
    background-color: #444;
    color: #ccc;
    font-size: 1rem;
    line-height: 4rem;
    padding-left: 2rem;
    position: relative;
    
    a{
      text-decoration: none;
    }
    &>a {
      color: #ccc;
      
        .iconfont {
        font-size: 2rem;
        vertical-align: middle;
        margin-right: 1rem;
      }
    }

    

    ul {
      display: none;
    }

    ul.show-list {
      display: block;
      position: absolute;
      bottom: 4rem;
      left: 0;
      width: 100%;
      padding:0 25% 0 0;
      margin: 0;
      list-style-type: none;
      background-color: #ccc;
      color: #777;

      li {
        border-bottom: 2px solid #fff;
        padding-left: 1rem;
        span:first-child{
          margin-right: 1.5rem;
        }
        span:last-child{
          margin-left: 1.5rem;
        }
        a{
          color:rgb(252, 103, 17);
          margin:0 0.5rem;
          .iconfont{
            font-size: 1rem;
          }
        }
       
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }

  button {
    flex: 1;
    background-color: #555;
    color: #ccc;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    border: 0;
  }
}
